SECRET_KEY=change-this-secret-key
DEBUG=True
DB_NAME=barangay_cawitan_db
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306
EMAIL_HOST_USER=your-gmail-address@gmail.com
EMAIL_HOST_PASSWORD=your-gmail-app-password
