# Enable MySQL only when you want the project to use a MySQL database
DJANGO_USE_MYSQL=False
MYSQL_DATABASE=barangaycawitan
MYSQL_USER=your_mysql_username
MYSQL_PASSWORD=your_mysql_password
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306

# Email settings if using SendGrid
SENDGRID_API_KEY=your_sendgrid_api_key
